@import "./../../../main.scss";
.section{
    .is-danger{
        border: 1px solid red;
        div{
            color: red;
        }
    }
    .help{
        border:none;
    }
    .button.is-success {
        height: 3.0rem;
        width: 4rem;
        border-style: none;
    }
    .icon{
        margin-right: 0.3rem;
    }
    .input {
        background-color: transparent;
        color: white;
        padding-left: 0.2rem;
        height: 1.5rem;
        width: 12rem;
    }
    span {
        color: $white-darker-three;
    }
}
