.section{
    .is-danger{
        border: 1px solid red;
        div{
            color: red;
        }
    }
    .help{
        border:none;
    }
    .info {
        text-decoration: none;
    }
    span {
        text-decoration: underline;
    }
    input {
        border-style: none;
        height: 1.5rem;
        padding-left: 0.2rem;   
    }
}
