.section{
    .is-danger{
        border: 1px solid red;
        div{
            color: red;
        }
    }
    .help{
        border:none;
    }
    .info {
        text-decoration: none;
    }
    span {
        text-decoration: underline;
    }
    input {
        padding-left: 1rem;
    }
    .icon {
        margin-right: 0.3rem;
    }
}
