@import "./../../main.scss";
form {
    .is-danger{
        border: 1px solid red;
    }
    .help{
        color:red;
        padding: 2px;
    }
    .header-newp {
        width: 110%;
        margin-left: -1rem;
        margin-top: -0.5rem;
        @include respond-to(large) {
            margin-top: 0;
        }
        height: 3rem;
        background-color: $black;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        span{
            padding: 15px 30px 15px 25px;
            i{
                font-size: 25px;
            }
        }
        button {
            margin-right: 0.8rem;
            color: $white-darker-three;
            background-color: transparent;
            border-style: none;  
            font-size: 20px;  
            font-weight: 700;    
            color:white;    
        }
    }
    .input-name {
        color: white;
        margin-top: 0.5rem;
        padding-left: 10px;
        float: right;
        background-color: transparent;
        border-width: thin;
        height: 25px;
        &:nth-child(1){
            margin-top: 1rem;
        }
    }
    .input-brand {
        color: white;
        margin-top: 0.5rem;
        padding-left: 10px;
        float: right;
        background-color: transparent;
        border-width: thin;
        height: 25px;
    }
    .input1 {
        color: white;
        margin-top: 7px;
        margin-right: 3rem;
        padding-left: 10px;
        float: right;
        background-color: transparent;
        border-width: thin;
        height: 25px;
        width: 6rem;
    }
    .li-newp-name {       
        clear: both;
        float:left;
        margin-top: 0.5rem;
        &:nth-child(1){
            margin-top: 1rem;
        }
    }
    .li-newp {
        clear: both;
        float:left;
        margin-top: 0.5rem;
      
    }
    .li-newp-s {
        clear: both;
        float:left;
        margin-left: 1.5rem;
    }
    .units {
        float: right;
        margin-right: -9rem;    
    }
    
}
.pinfo {
    clear: both;
    float: right;
    font-size: 80%;
}