@import "./../../main.scss";
form {
    .header-newp {
        width: 110%;
        margin-left: -1rem;
        height: 3rem;
        background-color: $black;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .p-header {
            margin-left: 0.5rem;
        }
        button {
            margin-right: 0.5rem;
            color: $white-darker-three;
            background-color: transparent;
            border-style: none;            
        }
    }
    
}
.pinfo {
    float: right;
    font-size: 80%;
}
