@import "../../main.scss";

.home-view {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	padding-top: 1rem;
	//respond to large dodac
	.content{
		width: 100%;
	}
	div{
		.li-header-section{
			display: inline-block;
		}
		a{
			float: right;
			padding: 5px;
			i{
				color: white;
				font-size: 25px;
			}
		}
		li{
			
			display: inline;
			padding: 4px;
		
		}
	}
	button{
		color:black;
	}
	.FooterHome {
		margin-left: -16px;
		position: fixed;
		bottom: 0;
		width: 100%;
		background: $black;
		height: 57px;
		ul {
			display: flex;
			width: 100%;
			margin: 0;
			padding: 0;
			justify-content: space-around;
			list-style: none;
			li {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 10px 6px;
				text-align: left;
				&:nth-child(1) {
					#colorLineOverlay {
						background-color: #1eb71b;
						width: 3%;
					}
				}
				&:nth-child(2) {
					#colorLineOverlay {
						background-color: #1c6ed3;
						width: 2%;
					}
				}
				&:nth-child(3) {
					#colorLineOverlay {
						background-color: #cacc13;
						width: 1%;
					}
				}
				&:nth-child(4) {
					#colorLineOverlay {
						background-color: #7113ac;
						width: 1%;
					}
				}
				.proggresiveLine {
					width: 90%;
					height: 4px;
					border-radius: 10px;
					background-color: #212121;
					margin: 2px;
				}
				#parentLineElement {
					position: relative;
				}
				#colorLineOverlay {
					position: absolute;
					top: 0;
					margin-top: 12px;
				}
				span {
					padding-top: 5px;
					display: block;
					text-align: left;
					margin: 0;
					padding: 0;
					.pInlineElement {
						display: inline;
					}

					p {
						margin: 0;
						padding: 0;
						font-size: 12px;
					}
				}
			}
		}
	}
}
