.product-view{
    form{
        input{
            color:black;
        }
        .select-type{
            color:black;
           
            option{
                color:black;              
            }
        }
    }
}