@import '../../main.scss';

.user-view {
	.userprofile {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 4rem;
		.user-section {
			display: flex;
			width: 100%;
			padding: 0 1rem;
			.user-icon {
				color: white;
				background: #666;
				border-radius: 50%;
				font-size: 2rem;
				font-weight: bold;
				width: 75px;
				height: 75px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.user-details {
				margin-left: 1rem;
			}
			h2 {
				margin: 0.25rem 0;
				font-size: 1.5rem;
				font-weight: normal;
				@include respond-to(large) {
					font-size: 1.75rem;
				}
			}
			h3 {
				margin: 0;
				color: #999;
				font-size: 1rem;
				font-weight: normal;
				@include respond-to(large) {
					font-size: 1.2rem;
				}
			}
		}
	}

	.button-redirect {
		margin-top: 50px;
		.top-button{	
			display: block;
			text-align: center;
			margin: auto;
			width: 250px;
			padding: 10px;
			background-color: $white;
			margin-bottom: 15px;
			@include respond-to(large) {
				margin: 0;
				margin-bottom: 15px;
			}
			

			button{
				background: none;
				border: none;
				color:$black;
			}
			a{
				text-decoration: none;
				border:none;
				color: $black;
			}
		}
		
		
	}
}
