.section {
	.is-danger{
		border: 1px solid red;
		div{
			color: red;
		}
	}
	.help{
		border:none;
	}
	form {
		input {
			color: black;
		}
		.button {
			color: black;
			background-color: white;
		}
	}
}
