@import "./../../../main.scss";
.container {
    .input {
        color: black;
        background-color: white;
        height: 35px;
        margin-left: 0px;
    }
    .icon {
        margin-left: 5px;
    }
    .button.is-success {
        float: left;
        font-weight: bold;
        width: 75px;
        height: 35px;
    }
    p {
        color: $white-darker-three;
        text-decoration: underline;
        font-weight: bold;
    }
}
::-webkit-input-placeholder {
    font-weight: bold;
}