@import "./../../../main.scss";
.container {
    .input {
        color: black;
        background-color: white;
        height: 2rem;
        margin-left: 0rem;
    }
    .icon {
        margin-left: 0.3rem;
    }
    .button.is-success {
        float: left;
        font-weight: bold;
        width: 5rem;
        height: 2rem;
        border-style: none;
    }
    p {
        color: $white-darker-three;
        text-decoration: underline;
        font-weight: bold;
    }
}
::-webkit-input-placeholder {
    font-weight: bold;
}