@import "./../../main.scss";

.AddEditParameter-view{
   
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        input:checked ~ .checkmark {
            background-color:$white-darker-two;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
        }
        .checkmark:after {
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
      }
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
    .is-danger{
        border: 1px solid red;
    }
    .help{
        color:red;
        padding: 2px;
    }
    .field{
        padding: 10px 0 10px 0;
        label{
            font-weight: 600;
            color: white;
          
        }
        .percentageHelp{
            margin-right: 7px;
            float: right;
        }
        .inputModel{
            float: right;
            color: black;
            font-weight: 500;
            margin-top: -4px;
            padding-top: 2px;
            option{
                color:black;
            }
        }
        
        input{
            width: 25%;
        }
        button{
            color: black;
            background-color: white;
            height: 2rem;
            margin-left: 0rem;
            float: right;
            font-weight: bold;
            width: 5rem;
            height: 2rem;
            border-style: none;
        }
    }
    #starMessage{
        position: absolute;
        bottom: 0;
        margin-right: 20px;
    }
}
