.section{
    .is-danger{
        border: 1px solid red;
        div{
            color: red;
        }
    }
    .help{
        border:none;
    }
    .icon.is-small.is-left {
        margin-right: 0.3rem;
    }
    .fas.fa-lock {
        margin-right: 0.17rem;
    }
    .input-fpv-code {
        border-style: none;
        height: 1.5rem;
        width: 12.5rem;
    }
    .input-fpv {
        border: none;
        height: 1.5rem;
    }
    button {
        border-style: none;
    }
}
