// Color palette

$black: #121212;
$black-lighter-one: #121212;
$black-lighter-two: #121212;

$home-body: #212121;

$white: #efefef;

$white-darker-one: #fafafa;
$white-darker-two: #474747;
$white-darker-three: #bbb;

$primary: #4b22d5;
$primary-lighter-one: #6942e9;

$secondary: #43c7fe;

@mixin respond-to($media) {
	@if $media == large {
		@media only screen and (min-width: 1024px) {
			@content;
		}
	}
}
